/* General Styles */
.home-bg {
  background-image: url('../images/UN0517686x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.616);
  background-blend-mode: color-burn;  
}
.about-bg {
    background-image: url('../images/UNI463868.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.616);
    background-blend-mode: color-burn;
}
.element {
    display: block;
    color: rgb(11, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: larger;
    
}
iframe {
    margin-left: 250px;
}


.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: larger;
  background-color: #ffffff65;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.styled-table thead tr {
  background-color: #49afeb75;
  color: rgb(11, 29, 29);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f9f9f979;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
}
.why {
    font-size: larger;
    color:rgb(11, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
}



/* Navigation */
nav li a:hover {
    background-color: #0590d600;
    color: aliceblue;
    
}   
.nav-menu {
  list-style: none;
  display: inline-block;
  gap: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  width: 20%;
}

.nav-menu li a {
  text-decoration: none;
  color: rgb(11, 29, 29);
  font-weight: bold;
  font-size: large;
}
.learn a {
    color: rgb(11, 29, 29);
    display: inline-block;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.learn a:hover {
    background-color: rgba(0, 255, 255, 0);
    color: white;
}


/* Responsive Design */
@media (max-width: 600px) {
  .nav-menu {
    flex-direction: column;
  }
}
